*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

.header {
  height: 100vh;
  background-image: url("../images/background.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
}

.h1 {
  font-family: "Open Sans", sans-serif;
}

.header .content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.font-spec {
  font-family: "Poppins", sans-serif;
}

.features i {
  font-size: 50px;
}

.plans p.card-text {
  font-size: 20px;
}

form .btn-sign {
  right: 0;
  bottom: -6px;
}
